In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("EQ_automation_2023_05_15.tsv", sep="\t")

In [6]:
df = df[df["filter"]> 0]

In [12]:
df.drop(['Title', 'Keywords', 'Abstract'], axis=1, inplace=True)

In [15]:
df.dtypes

N           int64
filter      int64
rev12     float64
dtype: object

In [13]:
df.head()

     N  filter  rev12
12  13       1    1.0
32  33       2    1.0
39  40       1    0.0
58  59       1    1.0
84  85       1    1.0

In [16]:
for k in df.dtypes.keys():
    if df.dtypes[k] not in ["int64", "float64", "object"]:
        continue
    print(k, df.dtypes[k], df[k].nunique())
    print(df[k].unique(), "\n")

N int64 200
[   13    33    40    59    85   114   294   340   377   460   527   591
   850  1308  1402  1494  1572  1913  2010  2027  2054  2296  2324  2328
  2394  2431  2487  2506  2811  2861  2901  2932  3049  3097  3110  3256
  3382  3383  3484  3503  3586  3659  3693  3929  3984  3991  4098  4210
  4353  4494  4547  4560  4618  4630  4709  4730  4882  4958  4996  4998
  5038  5263  5476  5611  5746  5750  5756  5808  6020  6153  6275  6308
  6355  6613  6685  6722  6770  6884  6912  6987  7298  7305  7392  7438
  7488  7551  7707  7934  8032  8100  8212  8225  8383  8394  8415  8506
  8699  8732  8736  8826  8829  8882  8944  9005  9049  9051  9080  9104
  9115  9334  9394  9476  9491  9513  9520  9554  9599  9728  9813  9912
  9998 10000 10257 10318 10358 10437 10472 10603 10630 10631 10916 10924
 10954 11008 11119 11159 11167 11209 11218 11296 11314 11322 11385 11446
 11482 11495 11538 11670 11919 11984 12045 12100 12153 12192 12273 12427
 12607 12713 12764 12861 12883 12954 13011 13016 13223 13228 13239 13242
 13338 13367 13389 13419 13485 13707 13786 13796 13799 13894 13925 13930
 14042 14071 14138 14147 14256 14272 14396 14527 14684 14699 14734 14824
 14849 14899 14914 14948 15031 15037 15167 15375]

filter int64 2
[1 2]

rev12 float64 2
[1. 0.]

In [17]:
df["filter"].describe()

count    200.000000
mean       1.500000
std        0.501255
min        1.000000
25%        1.000000
50%        1.500000
75%        2.000000
max        2.000000
Name: filter, dtype: float64

In [18]:
df["rev12"].describe()

count    200.000000
mean       0.605000
std        0.490077
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: rev12, dtype: float64

In [19]:
200*0.605

121.0

In [20]:
22/121, 22/200

(0.18181818181818182, 0.11)